html,
body {
    font-family: 'Oxanium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    color: #5C85D6;
}

a {
    color: #5C85D6 !important;
    text-decoration: underline !important;
}

i {
    padding-right: 3px;
}

.bordered-blue {
    border-color: #587DA2 !important;
    border-width: 2px !important;
}

.background-black {
    background: #15181E !important;
}