html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

nav {
    position: fixed;
    top: 0;
    margin: 0 auto;
    display: block;
    background: #15181E;
    border-bottom: 2px solid #587DA2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .4);
    text-align: center;
    width: 100%;
}

.pop {
    margin: 1em;
    padding: 1em;
    background: #15181E;
    border-top: 2px solid #587DA2;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .4);
    text-align: center;
    width: calc(100% - 100px);
}

.logo {
    display: block;
    width: 300px;
    margin: -120px auto 0;
}

h1 {
    margin-top: .25em;
    color: #5C85D6;
}

a {
    color: #5C85D6;
}

hr {
    border: 0;
    background: #fff;
    height: 1px;
}

#title {
    width: 33%;
    margin-left: 33%;
    margin-bottom: 4.5em;
}

ul {
    display: flex;
    padding: 0 20px;
}

ul li {
    width: 33%;
    display: block;
    clear: none;
    padding: 0 2.5%;
}

footer {
    position: fixed;
    bottom: 0;
}

i {
    padding-right: 3px;
}