<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="{{ site.url }}/assets/favicon.ico?" type="image/x-icon" />
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:description"
        content="CM-SS13 is a strategic roleplay-based team deathmatch game, based on Space Station 13.">
    <meta property="og:image" content="{{ site.url }}/logo.png">
    <meta property="og:sitename" content="{{ site.url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{ site.url }}/assets/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/90136e7f9b.js" crossorigin="anonymous"></script>

    <title>Play CM-SS13</title>
</head>

<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100"></div>

    <nav>
        <ul>
            <li id="server">
                <a href="{{ site.play_link }}"><i class="fa fa-gamepad"></i>Play Now</a>
            </li>
            <li id="rules">
                <a href="{{ site.rules_link }}"><i class="fa fa-bars"></i>Rules</a>
            </li>
            <li id="status">
                <a href="{{ site.status_link }}"><i class="fa fa-server"></i>Status</a>
            </li>
            <li id="wiki">
                <a href="{{ site.wiki_link }}"><i class="fa fa-book"></i>Wiki</a>
            </li>
            <li id="forums">
                <a href="{{ site.forums_link }}"><i class="fa-brands fa-discourse"></i>Forums</a>
            </li>
            <li id="discord">
                <a href="{{ site.discord_link }}"><i class="fa-brands fa-discord"></i>Discord</a>
            </li>
            <li id="github">
                <a href="{{ site.github_link }}"><i class="fa-brands fa-github"></i>GitHub</a>
            </li>
        </ul>
    </nav>

    <div class="pop">
        <img src="{{ site.url }}/assets/logo.png" alt="Logo" class="logo" />

        <div id="title">
            <p>
            <h1>What is CM-SS13?</h1>
            CM-SS13 is a game based on Space Station 13, made in BYOND.
            Check out our <a href="{{ site.wiki_link }}/Quickstart_Guide">Quickstart Guide</a> if you're new to CM.
            </p>
            <p>
                CM-SS13 has wildly adapted the SS13 model into a strategic roleplay-based team deathmatch game.
            </p>
        </div>

        <ul>

            <li>
                <h2><a href="{{ site.wiki_link }}"><i class="fa fa-book"></i>Wiki</a></h2>
                <p>CM-SS13 is a very complex game, with a depth of features and complexity of interwoven systems that
                    can take a long time to get your head around. Our wiki contains guides, stats and all information
                    you need to get to grips with CM.</p>
            </li>
            <li>
                <h3><a href="{{ site.forums_link }}"><i class="fa-brands fa-discourse"></i>Forums</a></h3>
                <p>Our forums are where we get most of our feedback, suggestions and wherever a longer-form conversation
                    needs to take place. It's also where we handle appeals, whitelists and reports.</p>
                <h3><a href="{{ site.discord_link }}"><i class="fa-brands fa-discord"></i>Discord</a></h3>
                <p>Our Discord is a more informal space, for discussion of the previous round, contributing to the game,
                    or just general chitchat.</p>
            </li>
            <li>
                <h2><a href="{{ site.github_link }}"><i class="fa-brands fa-github"></i>GitHub</a></h2>
                <p>CM, as an extension of SS13, is an open source game, so anyone is able to contribute directly to our
                    game. Managed by our volunteer Maintainers, we accept Pull Requests of new content on our GitHub.
                </p>
                <p>If you're interested in getting started with contributing, check out our <a href="{{ site.wiki_link }}/Guide_to_Git">Guide to Contributing</a>.</p>
            </li>
        </ul>

    </div>

    <footer>
        <p>Source available on <a href="{{ site.source_link }}"><i class="fa-brands fa-github"></i>GitHub</a>
        </p>
    </footer>

</body>

</html>
