<head>
    <meta http-equiv="refresh" content="1;url={{ page.server_url }}" />
    <link rel="icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
    <meta property="og:title" content="Play CM-SS13">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Join CM-SS13">
    <meta property="og:image" content="/logo.png">
    <meta property="og:sitename" content="{{ site.url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
    <link href="{{ site.url }}/assets/stylesheet.css" rel="stylesheet">
    <title>Play CM-SS13</title>
</head>

<body>
    <div class="d-flex flex-column justify-content-center w-100 h-100"></div>

    <div class="pop">
        <img src="{{ site.url }}/assets/logo.png" alt="Logo" class="logo" />
        <h1>Launching CM-SS13 - {{ page.server_name }}</h1>
        <p>Please allow the game to launch in the prompt that appears.</p>
        <p>
            If nothing appears, click here:
            <a href="{{ page.server_url }}">{{ page.server_url }}</a>
        </p>
        <p>
        </p>
    </div>
</body>

</html>
